<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/cards.css">
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/telegram.js"></script> 
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <title>Список студентов</title>
</head>
<body>
    <h1>Список студентов</h1>

    <div class="card-list">
        {{ range .students }}
        <div class="card">
            <h2>{{ .LastName }} {{ .FirstName }} {{ .MiddleName }}</h2>
            
            <div class="card-info">
                <span class="label">Университет:</span> {{ if .University }}{{ .University }}{{ else }}Не указан{{ end }}<br>
                <span class="label">Факультет:</span> {{ if .Faculty }}{{ .Faculty }}{{ else }}Не указан{{ end }}<br>
                <span class="label">Курс/Направление:</span> {{ if .Course }}{{ .Course }}{{ else }}Не указано{{ end }}<br>
                <span class="label">Уровень образования:</span> {{ if .Education }}{{ .Education }}{{ else }}Не указан{{ end }}<br>
                
                <span class="label">GitHub:</span> 
                {{ if .GitHub }}
                    <a href="https://github.com/{{ .GitHub }}" target="_blank">{{ .GitHub }}</a>
                {{ else }}
                    Не указан
                {{ end }}<br>
                
                <span class="label">Место работы:</span> {{ if .Job }}{{ .Job }}{{ else }}Не указано{{ end }}<br>
                <span class="label">Проектная идея:</span> {{ if .Idea }}{{ .Idea }}{{ else }}Не указана{{ end }}<br>
                <span class="label">О себе:</span> {{ if .About }}{{ .About }}{{ else }}Не указано{{ end }}

                <div class="button-container">
                    <form action="/student/profile/{{ .ID }}/{{ $.role }}" method="GET">
                        <button type="submit" class="button">Подробнее</button>
                    </form>
                </div>
            </div>
        </div>
        {{ else }}
        <p>Нет данных о студентах</p>
        {{ end }}
    </div>

    <div class="button-container home-button">
        <form action="/home/{{ .id }}/{{ .role }}" method="GET">
            <button type="submit" class="button">На главную</button>
        </form>
    </div>
</body>
</html>