<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/cards.css">
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/telegram.js"></script> 
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <title>Список преподавателей</title>
</head>
<body>
    <h1>Список преподавателей</h1>

    <div class="card-list">
        {{ range .teachers }}
        <div class="card">
            <h2>{{ .LastName }} {{ .FirstName }} {{ .MiddleName }}</h2>
            
            <div class="card-info">
                <span class="label">Учёная степень:</span> {{ if .Degree }}{{ .Degree }}{{ else }}Не указана{{ end }}<br>
                <span class="label">Должность:</span> {{ if .Position }}{{ .Position }}{{ else }}Не указана{{ end }}<br>
                <span class="label">Университет:</span> {{ if .University }}{{ .University }}{{ else }}Не указан{{ end }}<br>
                <span class="label">Факультет/Кафедра:</span> {{ if .Faculty }}{{ .Faculty }}{{ else }}Не указан{{ end }}<br>
                <span class="label">Статус:</span> 
                {{ if .IsFree }}
                    <span class="status-free">Свободен для сотрудничества</span>
                {{ else }}
                    <span class="status-busy">Занят</span>
                {{ end }}<br>
                <span class="label">Научные интересы:</span> {{ if .Idea }}{{ .Idea }}{{ else }}Не указаны{{ end }}<br>
                <span class="label">Дополнительная информация:</span> {{ if .About }}{{ .About }}{{ else }}Не указана{{ end }}

                <div class="button-container">
                    <form action="/teacher/profile/{{ $.id }}/{{ $.role }}/{{ .ID }}" method="GET">
                        <button type="submit" class="button">Подробнее</button>
                    </form>
                </div>
            </div>
        </div>
        {{ else }}
        <p>Нет данных о преподавателях</p>
        {{ end }}
    </div>

    <div class="button-container home-button">
        <form action="/home/{{ .id }}/{{ .role }}" method="GET">
            <button type="submit" class="button">На главную</button>
        </form>
    </div>
</body>
</html>