services:
  postgres:
    image: postgres:15
    container_name: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - linker_network

  linker:
    image: linker_app
    container_name: linker_app
    build: .
    ports:
      - "8080:8080"
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_USER: linker
      DB_PASSWORD: linker_password
      DB_NAME: linker_db
    depends_on:
      - postgres
    networks:
      - linker_network

volumes:
  postgres_data:

networks:
  linker_network: