<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/editor.css">

    <script src="/styles/telegram.js"></script>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
</head>

<body>
    <div class="container" data-student-id="{{ .student.ID }}">
        <h1>Редактирование профиля</h1>
        <form id="profileForm">
            <div id="form-error" class="form-error" style="display:none"></div>

            <div class="form-group">
                <label for="last_name">Фамилия</label>
                <input type="text" id="last_name" name="last_name" value="{{ .student.LastName }}" maxlength="50"
                    required>
            </div>

            <div class="form-group">
                <label for="first_name">Имя</label>
                <input type="text" id="first_name" name="first_name" value="{{ .student.FirstName }}" maxlength="50"
                    required>
            </div>

            <div class="form-group">
                <label for="middle_name">Отчество</label>
                <input type="text" id="middle_name" name="middle_name" value="{{ .student.MiddleName }}" maxlength="50">
            </div>

            <div class="form-group">
                <label for="university">Университет</label>
                <input type="text" id="university" name="university" value="{{ .student.University }}" maxlength="100">
            </div>

            <div class="form-group">
                <label for="specialty">Специальность</label>
                <input type="text" id="specialty" name="specialty" value="{{ .student.Specialty }}" maxlength="100">
            </div>

            <div class="form-group">
                <label for="faculty">Кафедра</label>
                <input type="text" id="faculty" name="faculty" value="{{ .student.Faculty }}" maxlength="100">
            </div>

            <div class="form-group">
                <label for="course">Курс</label>
                <select id="course" name="course" class="form-select">
                    <option value="">Не указан</option>
                    <option value="1 курс" {{ if eq .student.Course "1 курс" }}selected{{ end }}>1 курс</option>
                    <option value="2 курс" {{ if eq .student.Course "2 курс" }}selected{{ end }}>2 курс</option>
                    <option value="3 курс" {{ if eq .student.Course "3 курс" }}selected{{ end }}>3 курс</option>
                    <option value="4 курс" {{ if eq .student.Course "4 курс" }}selected{{ end }}>4 курс</option>
                    <option value="5 курс" {{ if eq .student.Course "5 курс" }}selected{{ end }}>5 курс</option>
                    <option value="6 курс" {{ if eq .student.Course "6 курс" }}selected{{ end }}>6 курс</option>
                </select>
            </div>

            <div class="form-group">
                <label for="education">Уровень образования</label>
                <select id="education" name="education" class="form-select">
                    <option value="">Не указан</option>
                    <option value="Бакалавриат" {{ if eq .student.Education "Бакалавриат" }}selected{{ end }}>
                        Бакалавриат</option>
                    <option value="Специалитет" {{ if eq .student.Education "Специалитет" }}selected{{ end }}>
                        Специалитет</option>
                    <option value="Магистратура" {{ if eq .student.Education "Магистратура" }}selected{{ end }}>
                        Магистратура</option>
                    <option value="Аспирантура" {{ if eq .student.Education "Аспирантура" }}selected{{ end }}>
                        Аспирантура</option>
                    <option value="Докторантура" {{ if eq .student.Education "Докторантура" }}selected{{ end }}>
                        Докторантура</option>
                </select>
            </div>

            <div class="form-group">
                <label for="github">GitHub</label>
                <input type="text" id="github" name="github" value="{{ .student.GitHub }}" maxlength="100">
            </div>

            <div class="form-group">
                <label for="job">Место работы</label>
                <input type="text" id="job" name="job" value="{{ .student.Job }}" maxlength="100">
            </div>

            <div class="form-group">
                <label for="idea">Идеи для проекта</label>
                <textarea id="idea" name="idea" maxlength="1000">{{ .student.Idea }}</textarea>
            </div>

            <div class="form-group">
                <label for="about">О себе</label>
                <textarea id="about" name="about" maxlength="1000">{{ .student.About }}</textarea>
            </div>
        </form>
    </div>

    <div class="actions">
        <button class="button" id="saveButton">Сохранить</button>
        <button class="button" id="backButton">Назад</button>
    </div>

    <script type="module" src="/scripts/student_editor.js"></script>
</body>

</html>